<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="headerFragment">
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<meta charset="UTF-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="description" content="">
			<meta name="author" content="">
			
			<title>header</title>

			<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
			 <!-- Bootstrap core JavaScript-->
			 <script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
			 <!-- Core plugin JavaScript-->
			 <script type="text/javascript" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
			 <!-- Custom scripts for all pages-->
			 <script type="text/javascript" th:src="@{/js/sb-admin-2.min.js}"></script>
			 <script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
			 <!-- ytn js file -->
			 <script type="text/javascript" th:src="@{/js/ytn.util.js?v=4}"></script>

			 <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
			 <link th:href="@{/css/font.css}" rel="stylesheet">

			 <!-- Custom styles for this template-->
			 <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
		</head>
		<body>
			<!-- logout -->
			<th:block th:replace="fragments/logout :: logoutFragment"></th:block>

			<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
		
				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars"></i>
				</button>
				
				<!-- YTN Logo -->
				<form
					class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
					<div class="input-group">
						<img class="img-profile" style="width:60%; height:70%;" src="/img/ytn_research.png">
					</div>
				</form>
				
				<!-- Topbar Navbar -->
				<ul class="navbar-nav ml-auto">
					<!-- Login Btn -->
					<!-- <a href="#" class="btn btn-info btn-icon-split" style="height:10%;margin-top:5%;" th:onclick="loginClick()">
						<span class="text">로그인</span>
					</a> -->

					<!-- Nav Item - Search Dropdown (Visible Only XS) -->
					<li class="nav-item dropdown no-arrow d-sm-none">
						<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-search fa-fw"></i>
						</a>
						<!-- Dropdown - Messages -->
						<div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
							aria-labelledby="searchDropdown">
							<form class="form-inline mr-auto w-100 navbar-search">
								<div class="input-group">
									<input type="text" class="form-control bg-light border-0 small"
										placeholder="Search for..." aria-label="Search"
										aria-describedby="basic-addon2">
									<div class="input-group-append">
										<button class="btn btn-primary" type="button">
											<i class="fas fa-search fa-sm"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
					</li>

					<div class="topbar-divider d-none d-sm-block"></div>

					<!-- Nav Item - User Information -->
					<li class="nav-item dropdown no-arrow">
						<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="mr-2 d-none d-lg-inline text-gray-600 small" th:if="${not #strings.isEmpty(session.authInfo)}" th:text="${session.authInfo.name}+'님, 안녕하세요! 오늘도 활기찬 하루 되세요:)'"></span>
							<span class="mr-2 d-none d-lg-inline text-gray-600 small" th:if="${#strings.isEmpty(session.authInfo)}">방문자님, 오늘도 좋은하루 되세요 :)</span>
							<img class="img-profile rounded-circle"
								src="/img/undraw_profile.svg">
						</a>
						<!-- Dropdown - User Information -->
						<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
							aria-labelledby="userDropdown">
							
							<!-- Login -->
							<a class="dropdown-item" href="#" data-toggle="modal" th:if="${#strings.isEmpty(session.authInfo)}" th:onclick="loginClick()">
								<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
								로그인
							</a>

							<div th:if="${not #strings.isEmpty(session.authInfo) and session.authInfo.type=='ADMIN'}">
								<!-- 회원가입 -->
								<a class="dropdown-item" href="#" data-toggle="modal" th:onclick="registerUserClick()">
									<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
									회원가입
								</a>
								<div class="dropdown-divider"></div>

								<!-- 데이터 이관 -->
								<a class="dropdown-item" href="#" data-toggle="modal" th:onclick="dataMoveAndDelClick()">
									<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
									데이터 이관
								</a>
								<div class="dropdown-divider"></div>
							</div>

							<!-- Logout -->
							<div th:if="${not #strings.isEmpty(session.authInfo)}">
								<a class="dropdown-item" href="#" data-toggle="modal" th:onclick="logoutClick()">
									<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
									로그아웃
								</a>
							</div>
						</div>
					</li>

				</ul>

			</nav>
			<!-- End of Topbar -->
			<script type="text/javascript" th:inline="javascript">
				let infoData = [[${session.authInfo}]];
				// 수정 권한 여부.
				let authBoolean = false;

				if(infoData != null){
					authBoolean = true;
				}

			</script>

		</body>
		<!-- End of Topbar -->
	</th:block>
</html>